doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
    script(src='/javascripts/directory.js')
    script(src='/javascripts/threads.js')
    script(src='https://cdn.socket.io/4.7.4/socket.io.min.js')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
    title Directory 
  body
    .navbar.container
      i.bi.bi-list.col.col-2(onclick='toggleHamburgerMenu()')
      a#logout.btn.btn-primary.col.col-1(onclick='logout()') Log Out
    #hamburgerMenu.links
      a.navLinks(onclick='routeToAnnouncement()') Annoucements
      a.navLinks(onclick='routeToMessageWall()') New Post
      a.navLinks(onclick='routeToResource()') Resources
      a.navLinks(onclick='routeToThreadWall()') Threads
      a.navLinks(onclick='routeToEmergencyContact()') Contacts
      a.navLinks(id='TestBtn', onclick='routeToTest()') Speed Test  
      a.navLinks(onclick='routeToSetting()') Notification
    form#directory-search-form.input-group.mb-3(onsubmit="submitSearch()" onchange="searchFinished()")
        select#search-select.form-select-sm
          option(value='User') User
          option(value='Status') Status
        input#directory-search-input.form-control(type='text', name='search', placeholder='Search...')
    #status-wrapper.dropdown
      button#status-list.btn.btn-primary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
        | Change Status
      #dropdown-wrapper
        ul.dropdown-menu#status-dropdown
          li#ok-status.status-options
            p.status-item.dropdown-item OK
            i.bi.bi-check-circle-fill
          li#help-status.status-options
            p.status-item.dropdown-item Help
            i.bi.bi-exclamation-circle-fill
          li#emergency-status.status-options
            p.status-item.dropdown-item Emergency
            i.bi.bi-bandaid-fill
    #directory-wrapper
      h1#directory-header ESN Directory
      #directory.container
    #overlayForTest(style='display: none;')
      p Currently Speed Testing... 
      p Don't Close the Browser Tab...

    script.
      const socket = io();
      let username = '';
      let role = '';

      socket.on('connect', async function() {
        console.log('Connected to server');
        console.log('Socket ID:', socket.id);
        const userId = #{user_id};
        await fetch(`/sockets`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({user_id: userId, socket_id: socket.id, operation:'register'})})
                .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error register socket:', error);
            });
      })

      async function submitSearch() {
        event.preventDefault()
        let selectElement = document.getElementById('search-select');
        let selectedValue = selectElement.value;

        let searchInput = document.getElementById('directory-search-input');
        let searchValue = searchInput.value;

        const userId = #{user_id}
        await fetch(`/search?q=${searchValue}&domain=${selectedValue}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          }
        }).then(response => response.json()).then( async (data) => {
          await fetch(`/privatePosts/unread/${userId}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
          }).then(response => response.json()).then((unRead) => {
            console.log('unread message status: ')
            console.log(unRead)
            // implement to display the notification
            renderESNList(sortUsers(data.data),unRead.data, role)
          })
        }).catch(error => {
          console.error(error);
        })
      }

      async function searchFinished(){

        let searchInput = document.getElementById('directory-search-input');
        let searchValue = searchInput.value;

        if (searchValue === ""){
          const userId = #{user_id}
            await getUsers().then(response => response.json()).then(async (data)=>{
              await fetch(`/privatePosts/unread/${userId}`, {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json',
              },
              }).then(response => response.json()).then((unRead) => {
                console.log('unread message status: ')
                console.log(unRead)
                // implement to display the notification
                renderESNList(sortUsers(data.data),unRead.data, role)
              })
          });
        }
      }
  
      window.onload = async function() {
        const userId = #{user_id}
        addEventListenerstoStatus();
        createEmergencyContact();
        const response = await fetch(`/users/${userId}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        }).then(response => response.json()).then((data) => {
          username = data.data[0].username;
          renderMyStatus(username, data.data[0].status)
          role = data.data[0].privilege;
          if (role !== 'Administrator') {
            document.getElementById('TestBtn').style.display = 'none';
          } else {
            document.getElementById('TestBtn').style.display = 'flex';
          }
        })
      }

      async function getUsers(){
        return await fetch('/users')
      }

      function sortUsers(data){
        let online = []
        let offline = []

        for (let i = 0; i < data.length; i++) {
            if (data[i].online_status === "online") {
                online.push(data[i])
            }
            else {
                offline.push(data[i])
            }
        }

        online.sort(function (a, b) {
            return a.username.localeCompare(b.username)
        })

        offline.sort(function (a, b) {
            return a.username.localeCompare(b.username)
        })

        return online.concat(offline)
      }

      function renderESNList(list, unread, role) {
        const userId = #{user_id}
        let directory = document.getElementById("directory");
        while(directory.firstChild){
          directory.removeChild(directory.lastChild);
        }
        let userToUnreadCount = new Map();
        for(let i = 0; i < unread.length; i++){
          console.log(unread.unreadCount)
          userToUnreadCount.set(unread[i].sender.id, unread[i].unreadCount);
        }

        if(list.length == 0){
          let emptyMessage = document.createElement("h1")
          let emptyMessageText = document.createTextNode("No results found")
          emptyMessage.className = 'empty-message'
          emptyMessage.appendChild(emptyMessageText)
          directory.appendChild(emptyMessage);
        }
      
        for (let i = 0; i < list.length; i++) {
          let userDiv = document.createElement("div");
          userDiv.setAttribute("class", "directory-user row gx-1 justify-content-between");
          

          let usernameField = document.createElement("p");
          usernameField.setAttribute("class", "usernameField col-10");
          let usernameFieldText = document.createTextNode(list[i].username);
          usernameField.appendChild(usernameFieldText);
          usernameField.addEventListener("click", () => {routeToPrivateChat(userId, list[i].user_id)})

          let onlineStatusField = document.createElement("div");
          onlineStatusField.setAttribute("class", "onlineStatusField col-1");

          let onlineStatusFieldImage = document.createElement("i");
          onlineStatusFieldImage.setAttribute("class", "bi bi-record-fill");

          if (list[i].online_status === "online") {
            onlineStatusField.classList.add("online");
          }
          else {
            onlineStatusField.classList.add("offline");
          }

          onlineStatusField.appendChild(onlineStatusFieldImage);

          let statusField = document.createElement("div");
          statusField.setAttribute("class", "statusField col-1");

          let statusFieldImage = document.createElement("i");

          if(list[i].status == "OK"){
            statusFieldImage.setAttribute("class", "bi bi-check-circle-fill");
          }
          else if(list[i].status == "emergency"){
            statusFieldImage.setAttribute("class", "bi bi-bandaid-fill");  
          }
          else if(list[i].status == "help"){
            statusFieldImage.setAttribute("class", "bi bi-exclamation-circle-fill");
          }


          statusField.appendChild(statusFieldImage);

          if(role === 'Administrator'){
            let editUserImage = document.createElement("i");
            editUserImage.setAttribute("class", "bi bi-pencil-fill edit-user");  
            editUserImage.addEventListener("click", () => {renderEditUserOverlay(list[i])})
            userDiv.appendChild(editUserImage);
          }

          userDiv.appendChild(onlineStatusField);
          userDiv.appendChild(usernameField);

          if(userToUnreadCount.has(list[i].user_id)){
            console.log(userToUnreadCount)
            let count = userToUnreadCount.get((list[i].user_id))
            let countDisplayValue = count;
            let unReadField = document.createElement("div");
            unReadField.setAttribute("class", "unReadField position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger");

            let unReadCount = document.createTextNode(countDisplayValue)
            unReadField.appendChild(unReadCount)
            userDiv.appendChild(unReadField);
          }

          userDiv.appendChild(statusField);

          directory.appendChild(userDiv);
        }
      }


      function createRadioButtonWrapper(selected){
        let dropdownWrapper = document.createElement("div")
        dropdownWrapper.setAttribute("class", "dropdownWrapper")
        let dropdownLabel = document.createElement("label")
        dropdownLabel.setAttribute("class", "dropdownLabel")
        dropdownLabel = addTextToElement(dropdownLabel, "Account Status:")
        let dropdownSelect = document.createElement("select")
        dropdownSelect.setAttribute("class", "form-select-sm dropdownSelect")
        let activeOption = createOption("Active", selected)
        let inactiveOption = createOption("Inactive", selected)
        dropdownSelect.appendChild(activeOption)
        dropdownSelect.appendChild(inactiveOption)
        dropdownWrapper.appendChild(dropdownLabel)
        dropdownWrapper.appendChild(dropdownSelect)
        return dropdownWrapper
      }

      function createInput(selectedName, label, id){
        let inputWrapper = document.createElement("div")
        inputWrapper.setAttribute("class", "inputWrapper")
        let inputNameLabel = document.createElement("label")
        inputNameLabel.setAttribute("class", "inputNameLabel")
        inputNameLabel = addTextToElement(inputNameLabel, label)
        let inputNameInput = document.createElement("input")
        inputNameInput.setAttribute("class", "form-control inputNameInput")
        inputNameInput.setAttribute("id", id)
        inputNameInput.setAttribute("type", "text")
        if(selectedName != undefined){
          inputNameInput.value = selectedName
        }
        inputWrapper.appendChild(inputNameLabel)
        inputWrapper.appendChild(inputNameInput)
        return inputWrapper
      }

      function createDropdown(selected){
        let dropdownWrapper = document.createElement("div")
        dropdownWrapper.setAttribute("class", "dropdownWrapper")
        let dropdownLabel = document.createElement("label")
        dropdownLabel.setAttribute("class", "dropdownLabel")
        dropdownLabel = addTextToElement(dropdownLabel, "Privilege Level:")
        let dropdownSelect = document.createElement("select")
        dropdownSelect.setAttribute("class", "form-select-sm dropdownSelect")
        let coordinatorOption = createOption("Coordinator", selected)
        let adminOption = createOption("Administrator", selected)
        let citizenOption = createOption("Citizen", selected)
        dropdownSelect.appendChild(coordinatorOption)
        dropdownSelect.appendChild(adminOption)
        dropdownSelect.appendChild(citizenOption)
        dropdownWrapper.appendChild(dropdownLabel)
        dropdownWrapper.appendChild(dropdownSelect)
        return dropdownWrapper
      }

      // See userController for needing a new service method
      function renderEditUserOverlay(userData){
        let editOverlay = document.createElement("div")
        editOverlay.setAttribute("id", "overlay")
        let body = document.getElementsByTagName("body")[0]
        let directoryWrapper = document.getElementById("directory-wrapper")
        let editModal = document.createElement("div")
        editModal.setAttribute("id", "editModal")
        let cancelButton = document.createElement("i")
        cancelButton.setAttribute("class", "bi bi-x")
        cancelButton.addEventListener("click", () => {removeEditOverlay()})
        let editHeader = document.createElement("h2")
        editHeader.setAttribute("id", "editHeader")
        editHeader.appendChild(document.createTextNode("Edit User"))

        

        // We hard-code "Citizen" to test, but we will need 
        // userData.privilege and userData.accountStatus from the user table
        let statusWrapper = createRadioButtonWrapper("Active");
        let privilegeWrapper = createDropdown("Citizen");
        let usernameWrapper = createInput(userData.username, "Username: ", "usernameWrapper");
        let passwordWrapper = createInput("", "Password: ", "passwordWrapper");

        let saveButton = document.createElement("button")
        saveButton.className = "btn btn-primary validate"
        saveButton = addTextToElement(saveButton, "Save Changes")
        //validate changes for that specific username typed in
        saveButton.addEventListener("click", async () => {validateChanges(document.getElementById("usernameWrapper").value, 
                                                                          userData.username, 
                                                                          document.getElementById("passwordWrapper").value)})

        editModal.appendChild(cancelButton)
        editModal.appendChild(editHeader)
        editModal.appendChild(statusWrapper)
        editModal.appendChild(privilegeWrapper)
        editModal.appendChild(usernameWrapper)
        editModal.appendChild(passwordWrapper)
        editModal.appendChild(saveButton)
        body.insertBefore(editOverlay, directoryWrapper)
        body.insertBefore(editModal, directoryWrapper)
      }

      async function validateChanges(username, prev_username, password){
        await fetch('/auth/validate', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ username: username, prev_username: prev_username })
          }).then(response => response.json()).then((data) => {     
            validationResult(data.success, data.message, validatePassword(password))
        })
      }

      function validatePassword(password) {     
        if (password.length < 4 && password.length > 0) {  
          return false;
        }
        return true;
      }

      function validationResult(usernameValidation, message, passwordValidation) {
        if (usernameValidation && passwordValidation) {
            const confirmation = window.confirm("Validation Success! Do you want to save the changes?");  
            if (confirmation) {
              console.log("Data saved");

              
              removeEditOverlay();
            }  
        }     
        else if (!passwordValidation){
          alert("The password has to be at least 4 characters long");
        }
        else{
          alert(message);
        }
      }

      function addEventListenerstoStatus(){
        let okStatus = document.getElementById("ok-status");
        let helpStatus = document.getElementById("help-status");
        let emergencyStatus = document.getElementById("emergency-status");

        okStatus.addEventListener("click", () => {changeMyStatus("OK")})
        helpStatus.addEventListener("click", () => {changeMyStatus("help")})
        emergencyStatus.addEventListener("click", () => {changeMyStatus("emergency")})
      }

      async function changeMyStatus(selectedValue) {
        const userId = #{user_id};
        const requestBody = {
          user_id: userId,
          updateAt: "status",
          updateValue: selectedValue, 
          username: username
        }
        await fetch('/status', {
          method: 'POST', 
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({user_id: userId, status: selectedValue}),
        }) .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error push status history', error);
            });

        const updateStatus = await fetch(`/users/${userId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(requestBody),
          })
          
          if(updateStatus.ok){
              const fetchUser = await getUsers()
              if(fetchUser.ok){
                const data = await fetchUser.json();
                console.log(data)

                await fetch(`/privatePosts/unread/${userId}`, {
                  method: 'GET',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  }).then(response => response.json()).then((unRead) => {
                    // implement to display the notification
                    renderESNList(sortUsers(data.data),unRead.data, role)
                })
              
              }
          }
         
        renderMyStatus(username, selectedValue);  

        if (selectedValue === 'emergency') {
          let primary_id = '';
          let alternative_id = '';
          let emergency_message = '';
          let location_allow = '';
          let location_link = '';

          await fetch(`/emergencyContacts/${userId}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
          }).then(response => response.json()).then((data) => {
              primary_id = data.data[0][0].primary_contact_id;
              alternative_id = data.data[0][0].alternative_contact_id;
              emergency_message = data.data[0][0].emergency_message;
              location_allow = data.data[0][0].location_allow;
              location_link = data.data[0][0].location_link;
          })
          await fetch(`/emergencyContacts/${primary_id}/${alternative_id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(response => response.json()).then((data) => {
            primary_socketId = data.data.primarySocketId
            alternative_socketId = data.data.alternativeSocketId

        })

        let link = ''
        if (location_allow === 'no') {
            link = 'does not allow location sharing'
        } else {
            link = location_link;
        }
                    
          const postData = {
              username: username,
              message: emergency_message,
              link: link,
              primary: primary_socketId,
              alternative: alternative_socketId
          };

          await fetch('/emergencyContacts/emergency_alert', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify(postData)})
              .then(response => response.json())
              .then(data => {
                  console.log(data);
                  alert("Emergency message is sent to your emergency contacts!")
              })
              .catch(error => {
                  console.error('Error fetching data:', error);
              });
        }   
      }

      socket.on("status_update", async ()=> { 
        const userId = #{user_id}
        await getUsers().then(response => response.json()).then(async (data)=>{
          await fetch(`/privatePosts/unread/${userId}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
          }).then(response => response.json()).then((unRead) => {
            console.log('unread message status: ')
            console.log(unRead)
            // implement to display the notification
            renderESNList(sortUsers(data.data),unRead.data, role)
          })

        });
      });

      socket.on('alert', function(body) {
        const confirmation = window.confirm("USER \"" + body.username + "\" has send you an EMERGENCY message: \n\"" + body.message + "\"\nClick \"OK\" will redirect you to Google Map of " + body.username + "'s location\nPlease allow redirect permission if nothing happen :)");        
        if (confirmation) {
            if (body.link === 'does not allow location sharing') {
                alert("\"" + body.username + "\" " + body.link);
            } else {
                window.open(body.link);
            }
        } else {
            console.log('User clicked Cancel');
        }
      });

      function routeToAnnouncement() {
        const user_id = #{user_id};
        window.location.href = `/announcements/${user_id}`;
      }

      function routeToThreadWall() {
        const user_id = #{user_id};
        window.location.href = `/threadWall/${user_id}`;
      }

      function routeToMessageWall() {
        const user_id = #{user_id};
        window.location.href = `/messageWall/${user_id}`;
      }

      function routeToEmergencyContact() {
        const user_id = #{user_id};
        window.location.href = `/emergencyContact/${user_id}`;
      }

      function routeToTest() {
        const user_id = #{user_id};
        const confirmation = window.confirm("You have elected to do a speed test. Doing so will log you out. Do you want to proceed?");  
        if (confirmation) {        
          window.location.href = `/test/${user_id}`;
        }      
      }
      
      function routeToSetting() {
        const user_id = #{user_id};
        window.location.href = `/setting/${user_id}`;
      }

      function routeToResource() {
        const user_id = #{user_id};
        window.location.href = `/resources/${user_id}`;
      }

      function routeToAdministrate() {
        const user_id = #{user_id};
        window.location.href = `/administration/${user_id}`;
      }
      
      async function logout(){
        const userId = #{user_id};
        const requestBody = {
          user_id: userId,
          updateAt: "online_status",
          updateValue: "offline",
        }
        await fetch(`/users/${userId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
            'X-Performance-Test': 'true'
          },
          body: JSON.stringify(requestBody),
        }).then(response=> response.json()).then((data)=>{
          console.log(data.message)
        })

        window.location.href = `/`
      }

      function showOverlay() {
        document.getElementById('overlayForTest').style.display = 'flex';
      }

      function hideOverlay() {
        document.getElementById('overlayForTest').style.display = 'none';
      }

      socket.on("testMode", () => {
            showOverlay();
      });

      socket.on("testFinish", () => {
            hideOverlay();
      });

      async function createEmergencyContact() {
        const userId = #{user_id};
        console.log(userId);

        try {
          const response = await fetch(`/emergencyContacts/${userId}`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
            },
          });

          if (response.status === 200) {
            const responseData = await response.json();
            if (responseData.data[0].length !== 0) {
              console.log('Emergency contact data already exists.');
              return; // Exit the function if the GET request is successful and the user ID exists
            } else {
              const postData = {
                user_id: userId,
                primary_id: 1,
                alternative_id: 2,
                emergency_message: 'I need HELP!!!',
              };

              await fetch('/emergencyContacts', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify(postData),
              })
                .then((response) => response.json())
                .then((data) => {
                  console.log(data);
                })
                .catch((error) => {
                  console.error('Error fetching data:', error);
                });
                }
              }
        } catch (error) {
          console.error('Error fetching data:', error);
        }
      }
    
